{% load i18n assets %}<!DOCTYPE html>
<!--[if IE 8]> <html class="{% block html_attr_alt %}{% endblock %}no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="{% block html_attr %}{% endblock %}no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}{{ SITE.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/theme/favicon.ico">
    {% block header_content %}{% spaceless %}
        {% block head_metas %}
            <meta name="robots" content="index,follow,all">
        {% endblock %}

        {% block page_base_links %}
            {% stylesheet_tag "css/app.min.css" %}
        {% endblock %}
        
        {% block page_more_links %}{% endblock %}
        {% block page_base_js %}
            {% javascript_tag "js/modernizr.min.js" %}
        {% endblock %}
        
    {% endspaceless %}{% endblock %}
</head>

<body{% block body_attr %}{% endblock %}>
    {% block header_topbar %}{% spaceless %}
    <div id="header-container"{% block header_topbar_attr %} class="contain-to-grid"{% endblock %}>
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <p class="title-1">
                        <a href="//{{ SITE.domain }}" title="{{ SITE.name }}" class="logo">
                            <i class="icon-recalbox"></i>
                        </a>
                    </p>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <div class="top-bar-section">
                <ul class="right social-badges">
                    <li><a href="https://twitter.com/digitaLumberjak" target="_blank"><i class="icon-twitter-square"></i></a></li>
                    <li><a href="https://www.facebook.com/recalbox" target="_blank"><i class="icon-facebook-square"></i></a></li>
                    <li><a href="https://github.com/digitalLumberjack/recalbox-os" target="_blank"><i class="icon-github-square"></i></a></li>
                </ul>

                <ul class="left">
                    <li><a href="{% url 'manager:monitoring' %}"><i class="icon-bar-chart"></i> {% trans "Monitoring" %}</a></li>
                    <li><a href="{% url 'manager:config' %}"><i class="icon-cogs"></i> {% trans "Configuration" %}</a></li>
                    <li><a href="{% url 'manager:bios' %}"><i class="icon-nes-console"></i> {% trans "Bios" %}</a></li>
                    <li><a href="{% url 'manager:roms-systems' %}"><i class="icon-nes-cartridge"></i> {% trans "Roms" %}</a></li>
                    <li><a href="{% url 'manager:logs' %}"><i class="icon-book"></i> {% trans "Logs" %}</a></li>
                    <li class="has-dropdown">
                        <a href="#"><i class="icon-external-link"></i> {% trans "Links" %}</a>
                        <ul class="dropdown">
                            <li><a href="http://blog.recalbox.com/forums" target="_blank">{% trans "Forum" %}</a></li>
                            <li><a href="{% blocktrans %}https://github.com/digitalLumberjack/recalbox-os/wiki/Home-(EN){% endblocktrans %}" target="_blank">{% trans "Wiki (EN)" %}</a></li>
                            <li><a href="https://kiwiirc.com/client/irc.freenode.net/#recalbox" target="_blank">IRC</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    {% endspaceless %}{% endblock %}
    
    {% block subheader_container %}{% endblock %}

    {% block content_container %}<div id="body_content"{% block content_container_attrs %}{% endblock %}>
        {% block base_content %}{% endblock %}
    </div>{% endblock %}

    {% block page_more_js %}
        {% javascript_tag "js/app.min.js" %}
    {% endblock %}
</body>
</html>
