{% extends "manager_frontend/base.html" %}
{% load i18n %}

{% block breadcrumbs_block %}{% endblock %}

{% block manager_title %}{% endblock %}

{% block manager_content %}
{% comment %}<div class="row dashboard-icons">
    <div class="small-12 columns">
        <p>Total Memory / Free Memory: {{ memory_infos.total|filesizeformat }} / {{ memory_infos.free|filesizeformat }}</p>
    </div>
</div>

<hr>{% endcomment %}

<div class="row dashboard-icons">
    <div class="small-12 large-6 columns">
        <a href="{% url 'manager:bios' %}" class="button reverse-primary large expand radius text-center">
            <i class="icon-nes-console icon-4x icon-block"></i>
            <p>
                {% blocktrans %}Manage all supported <strong>Bios</strong> files for emulated systems{% endblocktrans %}
            </p>
        </a>
    </div>
    <div class="small-12 large-6 columns">
        <a href="{% url 'manager:roms-systems' %}" class="button reverse-primary large expand radius text-center">
            <i class="icon-nes-cartridge icon-4x icon-block"></i>
            <p>
                {% blocktrans %}Manage <strong>Rom</strong> files for emulated systems{% endblocktrans %}
            </p>
        </a>
    </div>
    <div class="small-12 large-6 columns">
        <a href="{% url 'manager:logs' %}" class="button reverse-primary large expand radius text-center">
            <i class="icon-book icon-4x icon-block"></i>
            <p>
                {% blocktrans %}Read the Recalbox <strong>logs</strong>{% endblocktrans %}
            </p>
        </a>
    </div>
    <div class="small-12 large-6 columns">
        <a href="{% url 'manager:config' %}" class="button reverse-primary large expand radius text-center">
            <i class="icon-cogs icon-4x icon-block"></i>
            <p>
                {% blocktrans %}Read and edit the Recalbox <strong>Configuration</strong> file{% endblocktrans %}
            </p>
        </a>
    </div>
</div>
{% endblock %}