{% extends "manager_frontend/base.html" %}
{% load i18n %}

{% block manager_content %}
<ul class="inline-list">
    <li><span class="label info radius">{% trans "Path" %}: {{ systems_path }}</span></li>
    <li><span class="label info radius">{% trans "Total" %}: {{ systems_list|length }}</span></li>
</ul>

{% comment %}<div class="row systems-list">{% for key,name in systems_list %}
    <div class="small-6 large-3 columns folder text-center{% if forloop.last %} end{% endif %}">
        <a href="{% url 'manager:roms-list' system=key %}" class="button large expand radius">
            <i class="icon-folder icon-4x"></i> {{ name }}
        </a>
    </div>
{% endfor %}</div>{% endcomment %}

<div class="flex-grid marged systems-list">{% for key,name in systems_list %}
    <a href="{% url 'manager:roms-list' system=key %}" class="cell small-58 large-23 folder text-center flex-vertical-center-stack button large radius">
        <i class="icon-folder icon-4x"></i> {{ name }}
    </a>
{% endfor %}</div>
{% endblock %}