{% extends "manager_frontend/base.html" %}

{% block manager_content %}
<ul class="inline-list">
    <li><span class="label info radius">Path: {{ systems_path }}</span></li>
    <li><span class="label info radius">Total: {{ systems_list|length }}</span></li>
</ul>

<div class="row systems-list">{% for key,name in systems_list %}
    <div class="small-6 large-3 columns folder text-center{% if forloop.last %} end{% endif %}">
        <a href="{% url 'manager:roms-list' system=key %}" class="button large expand radius">
            <i class="icon-folder icon-4x"></i> {{ name }}
        </a>
    </div>
{% endfor %}</div>
{% endblock %}