@import "foundation/components/grid";

// Available percentage sizes
// Sizes like 18 is when you want a 20% container but with 1% horizontal 
// marging (1+18+1=20)
$flex-inline-list-sizes: 18 20 23 25 31.3333 33.3333 48 50 58 60 73 75 98 100 !default;

/*
 * Mixin to create cells widths with flexbox
 */
@mixin -emencia-flex-inline-list-classes($sizes, $viewport: small) {
    @each $size in $sizes{
        $width: $size / 100;
        $name: floor($size);
        // Will name it like "&.small-50"
        &>.#{$viewport}-#{$name} {
            @include flex(1 0 percentage($width));
            max-width: percentage($width);
        }
    }
}

/*
 * Mixin to create "simple" cells widths
 * Mixin to simulate inline list, used as a fallback
 */
@mixin -emencia-simulate-inline-list-classes($sizes, $viewport: small) {
    @each $size in $sizes{
        $width: $size / 100;
        $name: floor($size);
        // Will name it like "&.small-50"
        &>.#{$viewport}-#{$name} {
            width: percentage($width);
        }
    }
}

/*
 * Inline list with flexbox
 */
// For browser with flexbox capability (detected from modernizr)
html.flexbox{
    .flex-inline-list{
        @include display-flex;
        @include flex-wrap(wrap);
        
        // Remove spacing from default list styles
        &.clean{
            margin: 0;
            padding: 0;
        }
        
        // Cell base
        &>.cell{
            // Default is to have the same width and height for all items using 
            // the largest value from all items
            @include flex(1 0 auto);
            max-width: auto;
            margin: 0;
            list-style-type: none;
            
            &>.row{
                margin: 0;
            }
        }
        
        @media #{$small-up} {
            @include -emencia-flex-inline-list-classes($flex-inline-list-sizes, $viewport: small);
        }
        @media #{$medium-up} {
            @include -emencia-flex-inline-list-classes($flex-inline-list-sizes, $viewport: medium);
        }
        @media #{$large-up} {
            @include -emencia-flex-inline-list-classes($flex-inline-list-sizes, $viewport: large);
        }
        @media #{$xlarge-up} {
            @include -emencia-flex-inline-list-classes($flex-inline-list-sizes, $viewport: xlarge);
        }
        @media #{$xxlarge-up} {
            @include -emencia-flex-inline-list-classes($flex-inline-list-sizes, $viewport: xxlarge);
        }
        
        // Some inner padding on cells
        &.padded .cell{
            padding: 0 1%;
        }
        @media #{$small-up} {
            &.small-padded .cell{
                padding: 0 1%;
            }
        }
        @media #{$medium-up} {
            &.medium-padded .cell{
                padding: 0 1%;
            }
        }
        @media #{$large-up} {
            &.large-padded .cell{
                padding: 0 1%;
            }
        }
        @media #{$xlarge-up} {
            &.xlarge-padded .cell{
                padding: 0 1%;
            }
        }
        @media #{$xxlarge-up} {
            &.xxlarge-padded .cell{
                padding: 0 1%;
            }
        }
        
        // Some inner padding on cells
        &.marged .cell{
            margin: 0 1%;
        }
        @media #{$small-up} {
            &.small-marged .cell{
                margin: 0 1%;
            }
        }
        @media #{$medium-up} {
            &.medium-marged .cell{
                margin: 0 1%;
            }
        }
        @media #{$large-up} {
            &.large-marged .cell{
                margin: 0 1%;
            }
        }
        @media #{$xlarge-up} {
            &.xlarge-marged .cell{
                margin: 0 1%;
            }
        }
        @media #{$xxlarge-up} {
            &.xxlarge-marged .cell{
                margin: 0 1%;
            }
        }
    }
}

// Fallback for browsers that dont have flexbox capability, we inherit from Foundation grid row
html.no-flexbox{
    .flex-inline-list{
        list-style-type: none;
        @extend .row;
        
        &>.cell{
            @extend .columns;
        }
        @media #{$small-up} {
            @include -emencia-simulate-inline-list-classes($flex-inline-list-sizes, $viewport: small);
        }
        @media #{$medium-up} {
            @include -emencia-simulate-inline-list-classes($flex-inline-list-sizes, $viewport: medium);
        }
        @media #{$large-up} {
            @include -emencia-simulate-inline-list-classes($flex-inline-list-sizes, $viewport: large);
        }
        @media #{$xlarge-up} {
            @include -emencia-simulate-inline-list-classes($flex-inline-list-sizes, $viewport: xlarge);
        }
        @media #{$xxlarge-up} {
            @include -emencia-simulate-inline-list-classes($flex-inline-list-sizes, $viewport: xxlarge);
        }
    }
}