{% extends "manager_frontend/base.html" %}
{% load i18n %}

{% block breadcrumbs_block %}{% endblock %}

{% block manager_title %}{% endblock %}

{% block manager_content %}
<div class="dashboard-icons">
    <div class="flex-grid marged">
        <a href="{% url 'manager:monitoring' %}" class="cell small-98 medium-48 large-31 button reverse-primary large radius text-center">
            <i class="icon-bar-chart icon-4x icon-block"></i>
            <p>
                {% blocktrans %}<strong>Monitor</strong> your system resources{% endblocktrans %}
            </p>
        </a>
        <a href="{% url 'manager:config' %}" class="cell small-98 medium-48 large-31 button reverse-primary large radius text-center">
            <i class="icon-cogs icon-4x icon-block"></i>
            <p>
                {% blocktrans %}Read and edit the Recalbox <strong>Configuration</strong> file{% endblocktrans %}
            </p>
        </a>
        <a href="{% url 'manager:logs' %}" class="cell small-98 medium-48 large-31 button reverse-primary large radius text-center">
            <i class="icon-book icon-4x icon-block"></i>
            <p>
                {% blocktrans %}Read the Recalbox <strong>logs</strong>{% endblocktrans %}
            </p>
        </a>
        <a href="{% url 'manager:bios' %}" class="cell small-98 medium-48 large-31 button reverse-primary large radius text-center">
            <i class="icon-nes-console icon-4x icon-block"></i>
            <p>
                {% blocktrans %}Manage all supported <strong>Bios</strong> files for emulated systems{% endblocktrans %}
            </p>
        </a>
        <a href="{% url 'manager:roms-systems' %}" class="cell small-98 medium-48 large-31 button reverse-primary large radius text-center">
            <i class="icon-nes-cartridge icon-4x icon-block"></i>
            <p>
                {% blocktrans %}Manage <strong>Rom</strong> files for emulated systems{% endblocktrans %}
            </p>
        </a>
        <a href="http://{{ SITE.hostname }}:8080" target="_blank" class="cell small-98 medium-48 large-31 button reverse-primary large radius text-center">
            <i class="icon-gamepad icon-4x icon-block"></i>
            <p>
                {% blocktrans %}Use the <strong>Virtual gamepad</strong>{% endblocktrans %}
            </p>
        </a>
    </div>
</div>
{% endblock %}