{% extends "manager_frontend/base.html" %}
{% load i18n assets %}

{% block page_more_js %}{{ block.super }}
    {% javascript_tag "js/dropzone.min.js" %}
    <script type="text/javascript">
    //<![CDATA[
        Dropzone.options['uploadDropzone'] = {
            'init': function() {
                // Naive usage of queuecomplete event
                // Should be aware of upload errors and so don't automatically 
                // reload the page (displaying a warning?)
                this.on("queuecomplete", function() {
                    window.location.href = '{% url 'manager:roms-list' system=system %}';
                });
            },
            'url': "{% url 'manager:roms-upload' system=system %}",
            'paramName': "{{ upload_form.rom.name }}"
        };
    //]]>
    </script>
{% endblock %}


{% block manager_content %}
<ul class="inline-list">
    <li><span class="label info radius">{% trans "Path" %}: {{ system_path }}</span></li>
    <li><span class="label info radius">{% trans "Total" %}: {{ total_roms }}</span></li>
</ul>

{% with bios_checking=view.check_system_bios %}
{% if bios_checking %}
<div data-alert class="alert-box warning radius">
    {% url 'manager:bios' as bios_url %}
    <p><strong>{% blocktrans with bios_url=bios_url %}This system requires one or more <a href="{{ bios_url }}">bios</a> file that are missing from your installation:{% endblocktrans %}</strong></p>
    <p><strong>{{ bios_checking|join:', ' }}</strong></p>
</div>
{% endif %}
{% endwith %}

<form action="{% url 'manager:roms-list' system=system %}" method="post" id="upload-dropzone" class="dropzone" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="upload_submit" value="1">
    <div class="fallback">
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    {% if messages %}{% for message in messages %}
                    <div class="alert-box{% if message.tags %} {{ message.tags }}{% endif %}" data-alert>
                        {{ message }}
                        <a href="#" class="close">&times;</a>
                    </div>
                    {% endfor %}{% endif %}
                    
                    {% if upload_form.rom.errors %}
                    <div class="small-12 columns">
                        {% for error in upload_form.rom.errors %}
                        <small class="error">{{ error }}</small>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <div class="small-3 columns">
                        <span class="prefix">{% trans "Upload a rom" %}</span>
                    </div>
                    <div class="small-7 columns">
                        {{ upload_form.rom }}
                    </div>
                    <div class="small-2 columns">
                        <input type="submit" name="upload_submit" value="Send" class="button postfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="." method="post">
    {% csrf_token %}
    {% if delete_form.roms.errors %}
    <div class="row">
        <div class="small-12 columns">
            {% for error in delete_form.roms.errors %}
            <small class="error">{{ error }}</small>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <div class="text-right">
        <input type="submit" name="delete_submit" value="{% trans "Delete selected files" %}" class="button tiny radius info">
        <table class="expand">
            <thead>
                <tr>
                    <th class="text-right"><small>#</small></th>
                    <th>{% trans "Filename" %}</th>
                    <th>{% trans "Size" %}</th>
                    <th class="text-center">{% trans "Check" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for checkbox in delete_form.roms %}
                <tr>
                    <td class="text-right"><small>{{ forloop.counter }}</small></td>
                    <td>{{ checkbox.choice_value }}</td>
                    <td>{{ checkbox.choice_label|filesizeformat }}</td>
                    <td class="text-center">{{ checkbox.tag }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="delete_submit" value="{% trans "Delete selected files" %}" class="button tiny radius info">
    </div>
</form>
{% endblock %}